
body, html {
  height: 100%;
  line-height: 1.8;
  font-family: "Raleway", sans-serif
    margin: 0;

}
h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}


/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("http://tmommertech.com/img/mac.jpg");
  min-height: 100%;
}

.w3-bar .w3-button {
  padding: 16px;
}


.navbar {
  overflow: hidden;
  background-color: white; 
}

.navbar a {
  float: left;
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.subnav {
  float: left;
  overflow: hidden;
}

/*hover*/
.subnav .subnavbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: white;
  font-family: black;
  margin: 0;
}

.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: grey;
}

.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: grey;
  width: 100%;
  z-index: 1;
}

.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
}

.subnav-content a:hover {
  background-color: #eee;
  color: black;
}

.subnav:hover .subnav-content {
  display: block;
}